.about-container {
  width: 90%;
  margin: 2.5% 0;
  background: $navBackground;
  background-image: $contentBackground;
  border-radius: 10px;
  padding: 2.5%;
  color: $text;
  border: 3px solid $text;
}

.about-header {
  font-size: 4rem;
  letter-spacing: 1.2px;
  margin-bottom: 1.25%;
}

.about-tagline {
  font-size: 1.8rem;
}

.about-subheader {
  font-size: 2.5rem;
  margin-bottom: 1.25%;
  margin-top: 2.5%;
}

.about-sub-p {
  font-size: 1.3rem;
}

.terms-list {
  font-size: 1.3rem;
  list-style-type: none;
}
