.level-container {
  margin-right: 20px;
  width: 50%;
  align-items: center;
}

.experience-container {
  width: 100%;
  background: $text;
  background-image: $backgroundTexture;
  border: 2px solid $onText;
}

.bg-success {
  background-color: $success !important;
}

.level-spacer {
  margin: 0 20px;
  color: $text;
  font-size: 2rem;
}

.level-header {
  color: $text;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
