.level-container {
  margin-top: 20px;
  align-items: center;
}

.experience-container {
  width: 60%;
}

.level-spacer {
  margin: 0 50px;
  color:#ffff7d;
  font-size: 3rem;
}

.level-header {
  color: #ffff7d;
  letter-spacing: 1.2px;
}
