.level-container {
  margin-right: 20px;
  width: 50%;
  align-items: center;
}

.experience-container {
  width: 100%;
}

.level-spacer {
  margin: 0 20px;
  color:#ffff7d;
  font-size: 2rem;
}

.level-header {
  color: #ffff7d;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
