.home-container {
  margin: 50px 0px 60px 0px;
  background: $navBackground;
  background-image: $contentBackground;
  color: $text;
  border-radius: 20px;
  border: 3px solid $text;
}

.home-header {
  font-size: 4rem;
  margin-top: 25px;
}

.home-logo {
  width: 80%;
  height: 80%;
}

.start-button {
  display: block;
  margin-bottom: 25px;
  font-size: 2rem;
  padding: 2.5%;
  background: $success;
  background-image: $buttonTexture;
  border: 1px solid $text;
  border-radius: 10px;
  color: $text;
}

.start-button:hover {
  background: $successHover;
  background-image: $buttonTexture;
}

@media only screen and (max-width: 730px) {

  .home-header {
    font-size: 2.9rem;
  }

  .start-button {
    font-size: 1.45rem;
  }

  .home-logo {
    width: 50%;
    height: 50%;
  }

  .home-container {
    margin: 50px 20px 60px 20px;
  }
}