.loader-container {
  margin: 10% 0px 6% 0px;
}

.spinner-grow {
  width: 10rem;
  height: 10rem;
  margin: 6rem;
}

.text-success {
  background: $successHover;
  background-image: $buttonTexture;
}

.text-warning {
  background: #d4e09b;
  background-image: $buttonTexture;
}

.text-danger {
  background: $dangerHover;
  background-image: $buttonTexture;
}

.text-info {
  background: $blue;
  background-image: $buttonTexture;
}

@media only screen and (max-width: 1468px) {
  .spinner-grow {
    width: 8rem;
    height: 8rem;
    margin: 5rem;
  }
}

@media only screen and (max-width: 1160px) {
  .spinner-grow {
    width: 6rem;
    height: 6rem;
    margin: 4rem;
  }
}

@media only screen and (max-width: 904px) {
  .spinner-grow {
    width: 10rem;
    height: 10rem;
    margin: 6rem;
  }
}

@media only screen and (max-width: 704px) {
  .spinner-grow {
    width: 7rem;
    height: 7rem;
    margin: 4rem;
  }
}