// @import 'variables';

.main--navbar {
  background-color: $navBackground;
}

.nav--header {
  color: $navHeader;
  text-transform: uppercase;
}

.nav--links {
  margin: auto 30px;
  color: $navText;
}
