.main--navbar {
  background-color: $navBackground;
  background-image: $contentBackground;
  -webkit-box-shadow: 0px 0px 15px .5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px .5px rgba(0, 0, 0, 0.7);
}

.main-logo {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

.nav--header {
  color: $navHeader;
  text-transform: uppercase;
  padding-top: 5px;
}

.nav--links {
  margin: auto 30px;
  color: $text;
}

.nav--header:hover {
  color: $onText;
}

.nav--links:hover {
  color: $onText;
}