.outing-card {
  margin: 50px;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.outing-card:hover {
  transform: scale(1.02);
}

.card-button-success {
  background: #039600;
  border: none;
}

.card-button-danger {
  background: #bf0006;
  border: none;
}

.card-button-text {
  color: $navText;
}
