.outing-card {
  margin: 50px;
  width: 25rem;
  height: 39rem;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  background: $navBackground;
  background-image: $contentBackground;
  color: $text;
  border: 2px solid $text;
}

.outing-card:hover {
  transform: scale(1.02);
}

.outing-image-container {
  position: relative;
}

.outing-image {
  display: block;
  height: 400px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-bottom: 2px solid $text;
}

.icon-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 50px;
  border-radius: 25px;
}

.type-icon {
  margin: 2px 10px;
  width: 50px;
  padding: 10px;
  background: $navBackground;
  background-image: $contentBackground;
  border: 2px solid $text;
  border-radius: 50px;
}

.outing-button-container {
  align-items: center;
}

.card-button {
  padding: 8px 12px;
  margin: 0;
  height: 50%;
  border-radius: 20px;
}

.card-button-success {
  background: $success;
  border: none;
  background-image: $buttonTexture;
}

.card-button-success:hover {
  background: $successHover;
  background-image: $buttonTexture;
}

.card-button-text {
 color: white;
}

.card-button-text:hover {
  color: white;
}

.btn-success {
  background: $success;
  background-image: $buttonTexture;
  border: none;
}

.btn-success:hover {
  background: $successHover;
  background-image: $buttonTexture;
}

.btn-danger {
  background: $danger;
  background-image: $buttonTexture;
  border: none;
}

.btn-danger:hover {
  background: $dangerHover;
  background-image: $buttonTexture;
}
