.filter-buttons {
  margin-top: 50px;
  width: 60%;
}

.filter-buttons button {
  border-radius: 100px;
  padding: 20px;
  margin: 0px 105px;
}

.filter-buttons button img {
  pointer-events: none;
}
