.filter-buttons {
  width: 60%;
}

.filter-buttons button {
  border-radius: 100px;
  padding: 20px;
  margin: 0px 105px;
  background: $success;
  background-image: $buttonTexture;
  border: none;
}
.filter-buttons button:hover {
  background: $successHover;
  background-image: $buttonTexture;
}

.filter-buttons button img {
  pointer-events: none;
}
