.ss-container {
  display: flex;
  margin: 50px;
  background-color: $navBackground;
  background-image: $contentBackground;
  border-radius: 10px;
  align-items: center;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  color: $text;
  border: 3px solid $text;
}

.ss-image {
  width: 650px;
  height: 650px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 400px;
  border: 3px solid $text;
  margin: 50px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.ss-info-container {
  padding: 50px;
  margin: auto;
}

.ss-name {
  font-size: 5rem;
  letter-spacing: 1.5px;
}

.ss-subheader-container {
  font-size: 2rem;
}

.ss-subheader {
  display: inline;
  margin: 50px 3%;
}

.ss-notes {
  margin: 20px 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1620px) {
  .ss-name {
    font-size: 4rem;
  }
  .ss-image {
    width: 600px;
    height: 600px;
    margin: 40px;
  }
  .ss-info-container {
    padding: 30px;
  }
}

@media only screen and (max-width: 1480px) {
  .ss-name {
    font-size: 3.5rem;
  }
  .ss-image {
    width: 500px;
    height: 500px;
    margin: 30px;
  }
  .ss-info-container {
    padding: 25px;
  }
  .ss-subheader-container {
    font-size: 1.8rem;
  }
  .ss-notes {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1430px) {
  .ss-name {
    font-size: 3rem;
  }
  .ss-subheader-container {
    font-size: 1.5rem;
  }
  .ss-image {
    width: 400px;
    height: 400px;
    margin: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .ss-name {
    font-size: 2.5rem;
  }
  .ss-subheader-container {
    font-size: 1.25rem;
  }
  .ss-image {
    width: 300px;
    height: 300px;
  }
  .ss-notes {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 850px) {
  .ss-container {
    display: block;
    width: 70%;
  }
  .ss-subheader-container {
    font-size: 1.1rem;
  }
  .ss-info-container {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .ss-image {
    width: 250px;
    height: 250px;
  }
  .ss-name {
    font-size: 2rem;
  }
  .ss-subheader-container {
    font-size: 1rem;
  }
}