.so-container {
  padding: 20px;
  background: $navBackground;
  background-image: $contentBackground;
  color: $text;
  border: 3px solid $text;
  border-radius: 10px;
  width: 80%;
  margin: 50px 0px;
}

.so-button-container {
  width: 60%;
}

.so-sightings-container {
  margin: 50px 10%;
  background: $navBackground;
  background-image: $contentBackground;
  border-radius: 10px;
  color: $text;
  border: 3px solid $text;
}

.sl-container {
  width: 80vw;
  padding: 0;
  margin: 0;
}

.sl-center-container {
  align-items: center;
  margin: auto;
}

.sl-image {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 400px;
  border: 3px solid $text;
  margin: 50px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.sl-info-container {
  padding: 50px;
  margin: auto;
  font-style: italic;
}

.sl-name {
  font-size: 4.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

.sl-subheader-container {
  font-size: 2rem;
}

.spacer {
  margin: 0px 25px;
}

.sl-button-container {
  align-items: center;
}

.no-sightings {
  margin: 50px 0px;
  color: $text;
}

.no-sightings-header {
  font-size: 5rem;
}

.no-sightings-subheader {
  font-size: 3rem;
}

hr {
  height: 3px;
  width: 95%;
  background: $text;;
  border-radius: 10px;
}
