.so-container {
  margin-top: 50px;
  padding: 20px;
  background: #CC5500;
  border-radius: 10px;
  width: 60%;
}

.no-sightings {
  margin-top: 50px;
  color: $navHeader;
}

.no-sightings-header {
  font-size: 5rem;
}

.no-sightings-subheader {
  font-size: 3rem;
}