$background: #a56337;
$navBackground: #43251d;
$text: #e0c09e;
$navHeader: #e0c09e;
$blue: #89BBFE;
$onText: #365c55;
$success: #254D32;
$successHover: #3A7D44;
$danger: #AF3136;
$dangerHover: #BF363A;

$backgroundTexture: url("https://www.transparenttextures.com/patterns/otis-redding.png");
$contentBackground: url("https://www.transparenttextures.com/patterns/rough-cloth.png");
$buttonTexture: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");