@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';
@import 'home';
@import 'navbar';
@import 'about';
@import 'profile';
@import 'outings';
@import 'sightings';
@import 'loader';
@import 'auth';
@import 'modal';
@import 'singleOuting';
@import 'sightingCard';
@import 'singleSighting';
@import 'searchContainer';

body {
  background: $background;
  font-family: 'Futura';
}

// .fader {
//   animation: fadeInAnimation ease 3s;
//   animation-iteration-count: 1; 
//   animation-fill-mode: forwards;
// }

// @keyframes fadeInAnimation { 
//   0% { 
//       opacity: 0; 
//   } 
//   100% { 
//       opacity: 1; 
//    } 
// }

.modal-button {
  border-radius: 40px;
  padding: 10px 13px;
}