@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';
@import 'home';
@import 'navbar';
@import 'about';
@import 'profile';
@import 'outings';
@import 'sightings';
@import 'loader';
@import 'auth';
@import 'modal';
@import 'singleOuting';
@import 'sightingCard';
@import 'singleSighting';
@import 'searchContainer';
@import 'experience';

body {
  background-color: $background;
  background-image: $backgroundTexture;
  
  font-family: 'Futura';
}

.modal-button {
  border-radius: 40px;
  padding: 10px 13px;
}

::placeholder {
  color: $onText;
}